@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

ul,
ol {
list-style: none;

}
.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;

}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  border: none;
  text-transform: uppercase;
  text-decoration: none;

}

.hero {
  background-image: url("../images/hero-end.png"), url("../images/hero.jpg");
  background-size: 100% auto, 100% auto;
  height: 485px;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  background-position: bottom center, top center;
  padding: 60px;

}

.intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.causes {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-description {
  color: #333333;
}

.advantages-list,
.servises-list {
  text-align: center;
}

.causes-subscription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.advantages-item-blue {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  background: #82B3D3;

}

.real-town {
  text-align: left;
}

.advantages-description-blue {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

}

.advanteges-title,
.servises-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.subscription {
  background-image: url("../images/subscribe.jpg");
  color: #ffffff;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.button-search {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;

}
.subscription-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.contacts,
.contacts-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* Каталог*/

.header-inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;

}

.background-blue {
background-color: #82B3D3;

}

.button-use {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  border-radius: 4px;
}
.search {
  text-transform: uppercase;
}

.breadcrumbs-link {
  width: 73px;
  height: 21px;
  color: #ffffff;

}


.infrastructure-filter-title,
.price-filter {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

}

.control {
  color: #ffffff;

}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

}

.sorting {
  color: #000000;
  background-color: #ffffff;
}

.hotel-tittle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}

/* Название гостиниц */

.hotel-card {
  text-decoration: none;
  border-radius: 4px;

}

/* в Избранное */

.hotel-like {
  background: #82B3D3;
  border-radius: 4px;

}

/* Добвалено в избранное */

.hotel-like-cheked {
  background: #7DB54F;
  border-radius: 4px;
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;

}

/* выбранная страница*/

.pagination-button-current{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 60px;
  height: 60px;
  background: #F2F2F2;
  border: none;
  color: #000000;
  text-decoration: none;
}

.pagination-button,
.pagination-button-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 60px;
  height: 60px;
  text-decoration: none;
  background: #82B3D3;
  color: #ffffff;
  border: none;

}

.pagination-button-ellipsis{
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 60px;
  height: 60px;
  color: #000000;
  background: #ffffff;
  text-align: center;
  border: none;
  text-decoration: none;

}

.subscription-catalog-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscription-catalog-info {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}
