@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


html {
  height: 100%;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  height: 100%;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;

}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  padding-right: 70px;



}

.navigation {
  display: flex;
  align-items: center;
  position: relative;


}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.logo {
display: block;
}


.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation-user {
  display: flex;
  justify-content: flex-end;
  width: 560px;
  margin-right: auto;

}

.navigation-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  width: 44px;
  height: 64px;

}

.navigation-link-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  width: 100px;
  height: 64px;

}

.navigation-link-current::after {
  content: "";
  position: absolute;
  width: 68px;
  border: 2px solid #756257;
  bottom: 0;

}

.navigation-item {
  display: block;
  position: relative;

}

.navigation-favorites,
.navigation-list {
  min-width: 44px;
  min-height: 64px;
}

.button-navigation {
  display: block;
  margin-top: 14px;
  min-width: 160px;
  padding: 8px 34px;
  border-radius: 4px;
  margin-left: 20px;

}

.navigation-item .navigation-link {
background-image: url("../images/favorites.svg");
background-repeat: no-repeat;
background-position: center;
}

.navigation-item .navigation-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.favorites {
  position: absolute;
  background-color: #7DB54F;
  border-radius: 50%;
  color:#ffffff;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  top:11px;
  left:21px;
  text-align: center;

}

.button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button-navigation:hover,
.button-navigation:focus {
  background-color: #615048;
}

.button-navigation:active {
  background-color: #756157;
}

.button-navigation:disabled {
  background-color: #E5E5E5;
  cursor: default;
}


.hero {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-image: url("../images/hero-end.png"), url("../images/hero.jpg");
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  background-position: bottom -2px center, top center;
  padding: 60px;

}

.intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  margin: 0;
  margin-top: 69px;
  padding-bottom: 25px;

}

.causes {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 651px;
  margin: 0;
  margin-bottom: 90px;

}


.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-description {
  color: #333333;
  width: 230px;
  text-align: center;

}
.advantages-blue {
  flex-direction: row;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  background: #82B3D3;
}



.advantages-title-blue {
  margin: 0;

}

.advantages-description-blue {
  color:#ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

}

.real-town {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  position: relative;

}


.real-town::before {
  content:"";
  position: absolute;
  top: 90px;
  width: 60px;
  height: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  text-align: center;
  margin-bottom: 50px;
  position: relative;


}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  margin-top: 86px;
  background-color:  rgba(0, 0, 0, 0.3);
}

.advantages-light {
  width: 400px;
  height: 400px;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-dark {
  width: 400px;
  height: 400px;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-bridge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  width: 400px;
  position: relative;
}

.advantages-blue-reverse {
  flex-direction: row-reverse;
}

/*
.advantages-item:not(:last-child, :first-child)::before {
content: "";
position: absolute;
width: 60px;
height: 2px;
background-color:  rgba(0, 0, 0, 0.3);
}
*/

.advantages-bridge::before{
  content: "";
  position: absolute;
  top:90px;
  width: 60px;
  height: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);

}



/* Сервис */

.servises-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

}

.servises-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  background: rgba(131, 179, 211, 0.12);


}

.servises-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  text-align: center;
}

.servises-description {
width: 230px;
text-align: center;
margin: 0;

}

.servises {
  padding-top: 64px;

}

.intro-servises {
  width: 505px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.causes-servises {
  width: 490px;
  margin: 0 auto;
  padding-bottom: 64px;

}

.servises-title-house::before {
  content:"";
  width: 75px;
  height: 72px;
  display: block;
  margin: 0 auto;
  background-image: url("../images/house.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.servises-title-food::before {
  content:"";
  width: 74px;
  height: 70px;
  display: block;
  margin: 0 auto;
  background-image: url("../images/iconfood-advantages.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.servises-title-souvenirs::before {
  content:"";
  width: 64px;
  height: 76px;
  display: block;
  margin: 0 auto;
  background-image: url("../images/suvenir.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.servises-item-dark {
  background: rgba(131, 179, 211, 0.12);
}

.servises-item-light {
  background: #FFFFFF;
}

/* поиск гостницы */

.page-main_story {
  padding-top: 96px;
  padding-bottom: 96px;

  }

.intro-main_story {
  width: 297px;
  margin: 0 auto;
  padding: 0;
  color: #000000;

  }

.causes-main_story {
  width: 592px;
  margin: 0 auto;
  color: #333333;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 54px;
  }

  .button-search {
    width: 376px;
    display: block;
    margin: 0 auto;
    padding: 8px 8px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #756157;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;

  }

  .button-search:hover {
    background-color: #615048;
  }

  .button-search:focus {
    background-color: #615048;
  }

  .button-search:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
  }

  .button-search:disabled {
    background: #E5E5E5;
    cursor: default;
  }

.subscription {
  background-image: url("../images/subscribe.jpg");
  color: #ffffff;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 96px 258px 104px;

}

.intro-subscription {
  width: 404px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 140px;

}

.causes-subscription {
  width: 475px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  padding-bottom: 54px;

}

.field {
  margin: 0;
  padding: 14px 14px;
  font: inherit;
  font-weight: 400;
  background-color: #F2F2F2;
  border:none;
  border-radius: 4px 0 0 4px;
  width: 452px;
}

.subscription-form {
  display: flex;
  margin: 0;

}

.subscription-button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  color: #ffffff;
  border-radius: 0 4px 4px 0;
  border: none;
  text-transform: uppercase;
  padding: 8px 50px;
  cursor: pointer;
}

.subscription-button:hover {
  background-color: #68A2CA;
}

.subscription-button:focus {
  background-color: #68A2CA;
}

.subscription-button:active {
  background-color:  #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.subscription-button:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
  cursor: default;
}




/* подвал */
.footer-social {
padding-top: 40px;
padding-right: 70px;
padding-bottom: 30px;
padding-left: 70px;
display: grid;
grid-template-columns: 1fr auto 1fr;
align-items: center;
}

.footer-social-link {
  display: inline-block;
  width: 48px;
  height: 40px;
  position: relative;
  color: #83B3D3;

}

.footer-social-link:hover{
 color: #68A2CA;
}

.footer-social-link:focus {
 color: #68A2CA;
 }

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-social-list {
  display: grid;
  grid-template-columns: repeat(3,48px);
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-network {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.contacts,
.contacts-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
display:inline-block;
margin-left: auto;
color:#000000;

}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
  fill: #756157;
}

.htmlacademy-link:active {
  fill: rgba(117, 97, 87, 0.3);
}


/* Модальное окно */

.modal-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(242, 242, 242, 0.8);
  }

.modal {
  position: relative;
  margin: auto;
  width: 717px;
  min-height: 576px;
  padding: 64px 70px ;
  background-color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-content {
  width: 577px;

}

 Закрыть модальное окно
.modal-container-close {
  display: none;
}


.modal-close-button {
  position: absolute;
  top: 60px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 0;
  margin: 0;
  background-image: url("../images/close-modal.svg");
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
 border: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  opacity: 0.3;
  outline: none;
}

.modal-tittle {
  font-family: "PT-Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}


.search-form {
  display: grid;
  grid-template-rows: 110px 110px 110px;
}

.field-group {
  display: grid;
  grid-template-columns: 137px 440px;
  grid-template-rows:48px 48px;
  column-gap: 18px;
}

.form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  align-self: center;
}

.date-form {
  grid-column: 2/4;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  color: #000000;
  padding-left: 20px;
  margin: 0;
  background-image: url("../images/calendar-form.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;

}

.date-message {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
}

.message-mistake {
  color: red;
}

.field-group-tourists {
  display: grid;
  grid-template-columns: 247px 242px;
  justify-content: space-between;

}


.field-group-quantity {
  display: grid;
  grid-template-columns: auto 110px;

}

.modal-more-less {
  display: flex;
  width: 110px;
}

.tooltip {
  position: absolute;
  margin-left: 9px;
}



.tooltip-toggle {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background-image: url("../images/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #83B3D3;
  border: none;
  }


.tooltip-info {
  background-color: #333333;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  display: block;
  width: 256px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  padding: 15px 18px 18px 22px;
  position: absolute;
  bottom:100%;
  margin-bottom: 9px;

}

.slyder {
 background-color: #F2F2F2;
 width: 40px;
 border: none;
 border-radius: 4px;
}

.slyder-min {
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slyder-max {
  background-image: url("..//images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.tourists-choice {
  width: 31px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border: none;
  text-align: center;
  background-color: #F2F2F2;

}

.tourists-choice::-webkit-outer-spin-button,
.tourists-choice::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


.button-hotel {
  width: 577px;
  margin-top: 48px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color:#FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 18px 256px;
  cursor: pointer;

}

.button-hotel:hover {
  background-color: #68A2CA;
}

.button-hotel:active {
  background-color:#68A2CA;
  color: rgba(255, 255, 255, 0.5);

}

/* Каталог*/



.background-blue {
  display: flex;
  background-image: url("../images/catalog/subscribe-2.jpg");
  margin: 0 auto;
}

.header-inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin-bottom: 11px;

}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

}

.breadcrumbs-link {
  margin-right: 10px;
  width: 73px;
  height: 21px;
  color: #ffffff;
}

.background-blue {
  display: block;
}

.infrastructure {
display: flex;
flex-direction: row;


}


.infrastructure-filter-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;


}

.infrastructure-filter-item {
display: flex;


}

.button-use {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  border-radius: 4px;
}
.search {
  text-transform: uppercase;
}



.infrastructure-filter-title,
.price-filter {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

}

.control {
  color: #ffffff;

}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

}

.sorting {
  color: #000000;
  background-color: #ffffff;
}

.hotel-tittle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}

/* Название гостиниц */

.hotel-card {
  text-decoration: none;
  border-radius: 4px;

}

/* в Избранное */

.hotel-like {
  background: #82B3D3;
  border-radius: 4px;

}

/* Добвалено в избранное */

.hotel-like-cheked {
  background: #7DB54F;
  border-radius: 4px;
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;

}


.pagination-link-current {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;

}

.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-next {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 60px;
  height: 60px;

}

.subscription-catalog-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscription-catalog-info {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}
